@import "bulma";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html {
    background: url(../images/jeep-background.jpg);
    background-size: cover;
}

body {
    font-family: 'Armalite Rifle', cursive;
}

button {
    font-family: 'Armalite Rifle', cursive;
}

#header{
    width: 101%;
    color: #20241d;
    margin: 0;
    text-align: center;
    font-size: 6rem;
    border-radius: 35px 15px 35px 15px;
    text-shadow:
    0 1px 0px #9eaa94,
    1px 0 0px #929e86,
    1px 2px 1px #859378,
    2px 1px 1px #78866b,
    2px 3px 2px #6b7860,
    3px 2px 2px #5f6a54,
    3px 4px 2px #859378,
    4px 3px 3px #78866b,
    4px 5px 3px #6b7860,
    5px 4px 2px #5f6a54,
    5px 6px 2px #859378,
    6px 5px 2px #78866b,
    6px 7px 1px #6b7860,
    7px 6px 1px #5f6a54,
    7px 8px 0px #525b49;
}

.start {
    margin: 5% 35%;
    text-align: center;
    font-size: 3.15rem;
    background: linear-gradient(lime, chartreuse);
    border: linear-gradient(lightgrey, grey);
    box-shadow: inset 0px 1px 2px 2px black;
    height: 350px;
    width: 350px;
    border-radius: 100%  100%  100%  100%;

    &:hover {
        background: linear-gradient(#A81616, red);
        color: black;
        box-shadow: inset 1px 2px 4px 6px black;
        transform: scale(.98);
    }
}

#logo {
    margin-top: 25px;
    width: 10%;
}

.board {
    height: 100%;
}

.scoreboard {
    font-family: 'Orbitron', sans-serif;
    width: 25%;
    height: auto;
    margin: 2% auto;
    padding: 5px;
    background: black;
    color: lime;
    border: 2px solid grey;
}

.results {
    margin: 1%;
    display: inline-block;
    width: 22%;
    height: 100px;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 6px 21px black;
    cursor: pointer;
    background: url(../images/steel-plate.jpg);
    background-size: cover;
    overflow-x: scroll;
}

.timer {
    width: 125px;
    height: 150px;
    font-size: 48pt;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.category {
    margin: 5%;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

 .question {
    margin: 5%;
 }

.answered {
    background-color: red !important;
}

.answerBox {
    margin: 0 12.5%;
    width: 75%;
    line-height: 2rem;
}

#submitAnswer {
    margin: 0 35%;
    padding: 5px;
    border-radius: 5px;
    border: outset;
    box-shadow: 7px 6px 21px black;
    background: url(../images/steel.jpg);
    background-size: cover;

    &:hover {
        color: lime;
        transform: scale(.97);
        border: inset;
    }
}


.modal-content {
    color: white;
    font-size: 3.5rem;
    width: 100%;
    height: 100%;
}
